.grid-container{
display : grid;
margin: 20px;
grid-template-columns : 2fr 1fr ;
/* the below code functions for this too
 grid-column-gap: 5px;
grid-row-gap: 5px ; */
grid-gap: 1em;
grid-auto-rows: 200px;
width: 50em;
/* this makes the container to adjust to the content height
 grid-auto-rows: minmax(100px, auto ); */
}
.grid-item-1{
    background-color: red;
    
}
.grid-item2{
    background-color: yellow;

}

.blue-box{
   display: grid;
    grid-template-columns: 1fr 2fr ;
  margin: 20px;
    background-color:green;
    grid-auto-rows: 200px;
    width: 50em;
    grid-gap: 3em;

}
    .blue{
background-color: rgb(71, 46, 180);
    }


div.green{
    display: grid;
    grid-template: 1fr 1fr;
    grid-row-gap: 1em;
}

.g2{
    background-color: greenyellow;
}